* {
  margin: 0;
  padding: 0;
}

main {
  display: flex;
}

header {
  text-align: center;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: rgba(183, 100, 5, 0.8);
  margin: 30px 0px;
}

#product-list {
  width: 70vw;
  /* text-align: justify; */
}

#product-list h2 {
  text-align: center;
  margin-bottom: 23px;
}
#product-list img {
  width: 15vw;
}

#side-section {
  width: 30vw;
  text-align: center;
  /* margin-top: 50px; */
}
#cart {
  margin-bottom: 23px;
}

#wishList {
  margin-top: 24px;
}

#wishlist-items {
  /* border: 2px solid rgb(1, 87, 21);
  border-radius: 5px; */
  padding: 15px;
  margin: 11px 0px;
}

#cart-items {
  /* border: 2px solid rgb(1, 87, 21);
  border-radius: 5px; */
  padding: 15px;
}

#cart h2,
#wishList h2 {
  display: inline;
}

.product-card {
  border: 2px solid rgb(74, 74, 114);
  margin: 10px;
  padding: 5px;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  position: relative;
}

.product-card img {
  position: relative;
  right: 30px;
  top: 10psx;
}
.product-card span {
  text-align: right;
  position: absolute;
  bottom: 60px;
  right: 55px;
  border: 3px solid rgb(47, 45, 45);
  border-radius: 5px;
  padding: 2px;
  background-color: rgb(171, 171, 171);
}

.product-card button {
  display: block;

  margin: 25px auto 5px;
  cursor: pointer;
}

.wish-list-button {
  position: absolute;
  /* margin: 5px !important; */
  right: 15px;
  top: 0px;
}

/* .cart-item {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
} */

.cart-item img,
.wishlist-item img {
  width: 20%;
  margin: 5px;
  height: 99%;
}

.cart-item input {
  width: 50px;
  margin: 2px;
}

.details {
  display: flex;
  flex-direction: column;
}

#total {
  text-align: right;
  font-size: larger;
  font-weight: 600;
}
